.page-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  &__header {
    margin-bottom: 10px;
  }

  &__alert-notice {
    display: block;
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 1.0rem;
    color: #dc3545;
  }

  input.is-invalid {
     border-color: #dc3545;
   }

  input.is-valid {
    border-color: #28a745;
  }

  .invalid-feedback {
    display: block;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
  }

  div.member-section {
    text-align: center;
    margin-top: 1.85rem;
  }

}
