/* You can add global styles to this file, and also import other style files */

@import "./css/toolkit-light.scss";
@import "./css/variables.scss";


.page-error {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;

  &__danger-text {
    color: theme-color('danger');
  }

  &__warning-text {
    color: theme-color('warning');
  }
}
